/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Jun, 2015, 8:03:42 PM
    Author     : Ankit
*/

#link:hover {
    background-color: #cccccc
}
.ontop {
	z-index: 100;
	width: 100%;
	height: 400%;
	top: 0;
	left: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	text-align: center;
        
	/*background: linear-gradient(to bottom right, rgba(80,163,162,0.8) 0%, rgba(83,227,166,0.8) 100%);*/
	background-color: rgba(0,0,0,0.7);
	color: black;
	transition: all 0.4s;
}

#popup {
	width: 500px;
	height: 500px;
	position: fixed;
	color: green;			
	background-color: #cccccc;
	/*border: 4px solid black;*/
	/*text-align: center;*/
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
        /*overflow-y: scroll;*/
        
}

#heading {
    font-family: sans-serif;
    font-size: 300%;
    color: black;
}
#list {
    text-align: left;
    color: green;
    font-size: medium;
    
}
.plist {
    display: block
}
.plist:hover {
    cursor: pointer;
}
input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
}
/*input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=radio]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}
input[type=radio]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}*/
